*.class
target
logs
lib_managed
pids

*/*dependency-reduced-pom.xml

*.jar
*.war
*.ear

*.ipr
*.iws
*.iml
**/*.iml
.idea

*.DS_Store
**/*.DS_Store

**/target/*
target

**/bin/*
**/lib/*
*.classpath
*.project
**/*.settings
.project
.settings
.classpath
.sass-cache

nohup.out
rebel.xml
