<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <logger name="uk.gov" level="DEBUG"/>

    <logger name="reactivemongo.io.netty" level="INFO"/>
    <logger name="reactivemongo.core.actors" level="ERROR"/>
    <logger name="reactivemongo.core" level="INFO"/>
    <logger name="reactivemongo.api" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
